# Python virtual environment
.venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
